body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background-color:#fff
}
.navigation{
  width: 100%;
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
.links{
  margin-right: 30px;
  text-decoration: none;
  color: rgb(211, 62, 62);
  }
nav a.active{
  color: rgb(20, 220, 80);
}
.contacts-heading{
  font-size: 20px;
  width: 200px;
  
}
tr{
  height: 30px;
}
button{
  margin-top: 15px;
  float: right;
}
.home-heading{
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contacts-heading-display{
  font-size: 19px;
  width: 70px;
}
.contacts-content-display{
  font-size: 15px;
  width: 220px;
}
.home-contacts {
  padding: 10px;
  cursor: pointer;
  
}
.home-contacts:hover {
  background: #ddd;
}
.home-contacts.active{
  background: #0088cc;
  color: white;
}
.empty-list{
  font-size: 19px;
  padding-left: 30px;
}
.table-edit-heading{
  width: 100px;
}
.table-edit{
  padding: 10px;
}
.delete-button{
  margin-top: 15px;
  float: left;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #0088cc;
}
button:hover {
  color: #04c;
}
.error-text{
  color:red;
  padding-left: 20px;
}
.addContacts-main {
  display: flex;
  justify-content: center;
}
.savebtn{
  background-color: rgb(190, 251, 195);
  width: 5em;
  height: 2em;
  font-weight: 500;
  border-radius: 10px;
}
.savebtn:hover{
  background-color: aquamarine;
}
.editE{
  border-radius: 5px;
}
